/* #c0392b - red */





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;   
}
#bg{
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to bottom, black, #111, #007dd1); */
    /* background-color: #0c0b0b; */
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
}
#box{
    position: absolute;
    top: 50%;
    left: 50%;;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    width: 70%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.76);
    box-shadow: 05px 10px 40px rgb(26, 18, 18);
}
#dashboard{
    width: 100%;
    height: 15%;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    color: #FFF;
    font-family: 'K2D', sans-serif;
}
#skip{
    margin-top: 4px;
}
#skip:hover{
    cursor: pointer;
}
.elements{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28%;
    height: 80%;
    /* background-color: #222; */
}
.elements h2{
    margin-right: 15px;
    letter-spacing: 2px;
}
.elements div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 3px;
    font-weight: 600;
    width: 50px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.883);
    color: #e74c3c;
}
#gameboard{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2px 40px;
}
.bubble{
    width: 70px;
    height: 70px;
    background-image: url(bubble.png);;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'K2D', sans-serif;
    color: rgb(65, 5, 105);
    font-size: 30px;
    margin: 9px 30px;
    font-weight: 600;
}

.bubble:hover{
    cursor: pointer;
}

#gameboard h1{
    color: rgb(11, 11, 58); 
    font-family: 'K2D', sans-serif;
    font-size: 60px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}


@media(max-width: 500px){
    #box{
        width: 90%;
        height: 90%;
    }
    #dashboard{
        padding: 0 10px;
        height: 13%;
    }
    .elements{
        width: 30%;
    }
    .elements h2{
        font-size: 17px;
        margin-right: 5px;
    }
    #upr{
        margin-bottom: 35px;
    }
    #niche{
        margin-top: 35px;
    }
    .elements div{
        width: 30px;
        height: 25px;
        font-size: 14px;
    }
    #skip{
        width: 70px;
        height: 50px;
        position: absolute;
        right: -7%;
        top: -8%;
    }
    #gameboard{
        justify-content: space-evenly;
        padding: 15px 5px;
    }
    .bubble{
        width: 50px;
        height: 50px;
        margin: 6px;
        font-size: 18px;
    }
    #gameboard h1{
        font-size: 40px;    
    }
}


